<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training for digital jobs - Wild Code School</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<header>
    <section class="section-header">
        <a href="#index">
            <img alt="Wild Code School logo" src="https://via.placeholder.com/150x50">
        </a>
        <nav>
            <ul>
                <li><a href="/campuses">Campuses</a></li>
                <li>
                    <a href="#sign-in">Sign In</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
<section class="section-apply">
    <h1>Hello Student</h1>
</section>
<section class="section-article">
    <article>
        <h3>City</h3>
        <p>Description</p>
        <a href="/team/city">Notre équipe</a>
    </article>
    <article>
        <h3>City</h3>
        <p>Description</p>
        <a href="/team/city">Notre équipe</a>
    </article>
    <article>
        <h3>City</h3>
        <p>Description</p>
        <a href="/team/city">Notre équipe</a>
    </article>
</section>
<footer>
    <section>
        <ul>
            <li>More information</li>
            <li><a href="#application-process">Application process</a></li>
            <li><a href="#financing">Financing</a></li>
            <li><a href="#teaching-approach">Teaching approach</a></li>
            <li><a href="#training">Training</a></li>
        </ul>
        <ul>
            <li>Our Trainings</li>
            <li><a href="#web-developer-part-time">Web developer - Part-time</a></li>
            <li><a href="#web-developer-full-time">Web developer - Full-time</a></li>
            <li><a href="#data-analyst">Data analyst</a></li>
        </ul>
        <ul>
            <li>Wilders Community</li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#join-the-team">Join the team</a></li>
        </ul>
    </section>
    <section class="section-copyright">
        <p>18 rue de la gare 28480 La Loupe France © 2013-2019 Wild Code School. All rights reserved</p>
    </section>
</footer>
</body>
</html>